<bbNG:listElement label="${strLabelDuration}" name="duration"
	comparator="${durationComparator}" isRowHeader="true"> ${item.video.duration}
</bbNG:listElement>
<bbNG:listElement label="${strLabelName}" name="name"
	comparator="${nameComparator}">${item.video.name}
</bbNG:listElement>
<bbNG:listElement label="${strLabelDescription}" name="description"
	comparator="${descComparator}">${item.video.description}
</bbNG:listElement>
<bbNG:listElement label="${strLabelCueCard}" name="cueCard"
	comparator="${airDateComparator}">
	<table width='100%'><tr><td valign='bottom' width='15%'>
	<img src='${item.video.contentTypeImage}' height='16' width='16'></td><td valign='bottom' width='85%'>
			<b>${item.video.airDateInString}</b></td></tr><tr><td colspan='2'>
				${item.video.cueCardWithoutJavascriptAndCss}
	</td></tr></table>		
</bbNG:listElement>