<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="nbclearn.blackboard.9.1_SP6">
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/" source-path="/webapp"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/resources"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/test"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/test-resources"/>
        <property name="context-root" value="nbclearn.blackboard.9.1_SP6"/>
        <property name="java-output-path" value="/nbclearn.blackboard.9.1_SP6/build/classes"/>
    </wb-module>
</project-modules>
