.listCm .courseMenu a {
	margin-bottom: 0px;
	margin-left: 14px;
	margin-right: 18px;
	margin-top: 0px;
	height: 1%;
	padding: 0 0 0 9px;
	border: 0;
	background: transparent;
	color: #036;
	word-break: normal;
	overflow-x: hidden;
	overflow-y: auto;
	line-height: 15px;
	width: 122px;
}

.courseMenu a.cmimg {
	height: 13px;
	width: 13px;
}

.controlpanel a {
	border-top-color: #074BD2;
	color: #FC3;
	font-weight: bold;
}

#quickEnrollLink {
	color: #FC3;
	font-weight: normal;
}

#quickEnrollLink:hover {
	background-color: #FC3;
	background-image: none;
	color: #07477F;
}