.navPaletteContent a {
    background: transparent url(/themes/as_default/images/indicators.png) no-repeat scroll 4px -593px;
    border-top: 1px solid #94A8C1;
}

#quickEnrollLink:hover {
    background-color: #E3EFFF;
    background-image: none;
}
